<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top" style="min-height: 50px; height: 40px;">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="assets/images/Medcube-logo.png" class="img-thumbnail" width="100px;">
  </a>

  <div class="collapse navbar-collapse " id="navbarSupportedContent ">
    <ul class="navbar-nav mr-auto " style="padding-top: 20px; ">

      <li *ngFor="let category of categories " class="nav-item dropdown ">
        <a class="nav-link text-white " [routerLink]="[ '/item-list', category.id, ''] " id="navbarDropdown " role="button
      " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">{{category.name}}</a>
        <div class="dropdown-content bg-primary ">
          <a *ngFor="let subCategory of subCategories " [routerLink]="[ '/item-list', category.id, subCategory.id] ">{{subCategory.name}}</a>
        </div>
        &nbsp;&nbsp;&nbsp;
      </li>
      <li class="nav-item ">
        <a class="nav-link disabled text-white " href="# ">ABOUT US</a>
      </li>
    </ul>


    <!-- <li class="nav-item "> -->
    <a class="text-white " [routerLink]="[ '/cart'] ">
      <i class="fa fa-shopping-cart icon-white " aria-hidden="true ">
        <span *ngIf="kartCount> 0" class="badge">
          <span class="fa-stack icon-kart">
            <!-- The icon that will wrap the number -->
            <span class="fa fa-circle-o fa-stack-2x"></span>
            <!-- a strong element with the custom content, in this case a number -->
            <strong class="fa-stack-1x text-white">
              {{kartCount}}
            </strong>
          </span>
        </span>
      </i>
    </a>
    &nbsp;&nbsp;&nbsp;

    <a class="text-white" [routerLink]="['/login']" (click)="logout()">
      <i class="fa fa-sign-out icon-white" aria-hidden="true"></i>
    </a>
    <!-- </li> -->
  </div>
</nav>
