<div class="container-fluid" style="padding-top: 30px !important;padding-bottom: 30px !important;">
  <br>


  <div class="row  justify-content-center align-items-center">
    <div class="col-md-9" style="padding-left: 50px !important;">
      <div class="card  justify-content-center align-items-center" style="min-height: 300px !important;">
        <span class="text-success">Order Placed Successfully. Your Order Reference Number :

          <h3>{{orderId}}</h3>

        </span>
      </div>
    </div>

  </div>

  <!-- card.// -->

</div>
