<div class="container">
  <div class="col-12">
    <div class="row" style="padding:10% 10% 15% 15%; ">
      <div class="card card-home  bg-success m-5 justify-content-center align-items-center" style="min-height: 300px !important; min-width: 300px !important;">
        <h3>Prescription</h3>
      </div>
      <div class="card card-home  bg-danger m-5 justify-content-center align-items-center" style="min-height: 300px !important; min-width: 300px !important;">
        <h3> Without Prescription</h3>
      </div>
    </div>
  </div>
</div>
